doctype html
html
    head
        meta(charset='utf-8')
        title IMG Crawler

    body
        h1 IMG Crawler

        form(action="/target", method="post")
            input(type="text", name="url", placeholder="input target url")
            button(type="submit") Start

        if useAble
            table
                each image in content
                    tr
                        td
                            img(src=image)
        else
            h2 Not URL
            
